<aside class="span5">
	<section>
		<li id="<%= feed_item.id %>">
		  <span class="user"><%= User.find(feed_item.user.id).name %></span>
		  <span class="content"><%= feed_item.content %></span>
		  <span class="timestamp"><%= feed_item.created_at %></span>
		</li>
	</section>
</aside>
<div class="span1">
	<%= button_to "like", { :controller => "messages", :action => "update", id: feed_item.id } %>
	<%= feed_item.likes %>
</div>